@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .animated-element {
    animation: bounce 2s ease-in-out infinite;
    display: inline-block; 

    background-color: #3490dc;
    color: #ffffff;

  }
  @keyframes move-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0); 
    }
  }
  
  .cart-animate {
    animation: move-in 0.2s ease-in;
    width: 25%; 
    
  }
.cart-animate button{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.top-product-bg{
  background-image: url('/src/components/images/topproduct-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.field{
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid #cbd5e0; 
  border-radius: 9999px; 
  outline: none;
  border-color: #242424;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.error{
  color: red;
}