@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .animated-element {
    animation: bounce 2s ease-in-out infinite;
    display: inline-block; 

    background-color: #3490dc;
    color: #ffffff;

  }
  @keyframes move-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0); 
    }
  }
  
  .cart-animate {
    animation: move-in 0.2s ease-in;
    width: 25%; 
    
  }
.cart-animate button{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

